// colors
$dark:     #181818;
$gray-500: #272727;
$gray-400: #323232;
$gray-300: #6F6F6F; 
$gray-200: #c7c7c7;
$gray-100: #f3f3f3;
$white:    #ffffff;
$green:    #1abc9c;

// Font
$font-size:        15px;
$line-height:      1.5 ;
$font-weight:      400 ;
$font-weight-bold: 700 ;

// base colors
$color:                            $gray-400;
$color-background:                 $gray-100;
$color-link:                       $green;
$color-border:                     $white   ;
$color-blockquote-border:          $gray-300;

// page colors
$color-page-container-background:  $white   ;
$color-page-title:                 $gray-200;

// Post colors
$color-post-container-background:  $white   ;
$color-article-border:             $gray-100;
$color-post-link:                  $gray-400;

// about colors
$color-about-background:           $white   ;
$color-contact-list:               $dark    ;
$color-about-tagline:              $gray-300;
$color-about-tagline-border:       $gray-200;

// header colors
$color-menu-link:                  $gray-200;
$color-menu-background-link-hover: $white   ;
$color-menu-link-hover:            $gray-300;

// Blog colors
$color-item-link:                  $gray-500;
$color-rss-subscribe:              $white   ;
$color-rss-subscribe-hover:        $gray-200;
$color-item-footer:                $gray-500;
$color-post-item-border:           $gray-200;

// Syntax
$color-highlight-background:       $gray-100;

// tools
@import "tools/normalize";

// settings
@import "base/base";
@import "base/syntax";
@import "modules/about";
@import "modules/blog";
@import "modules/footer";
@import "modules/header";
@import "modules/post";
@import "modules/tags";
@import "modules/media";
