.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .post-item {
    position: relative;
    display: block;
    padding: 2.5rem 0;
    border-bottom: 1px solid $color-post-item-border;

    .item-header {
      .item-link {
        text-decoration: none;
        color: $color-post-link;
        transition: all .3s;
        &:hover {
          opacity: .7;

          i.fa-long-arrow-right {
            transform: translateX(7px);
            transition: all .2s;
          }
        }
      }
    }
  }
}

.rss-subscribe {
  color: $color-rss-subscribe;
  transition: all .3s;

  &:hover {
    color: $color-rss-subscribe-hover;
  }
}

.item-footer {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-item-footer;
  opacity: .6;
}