.blog-tags {
  h2 {
    color: $gray-400;
    margin: 10px 0;
  }
}

.tags {
  margin: 0;
	padding-left: 0;
  padding-right: 10px;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: $gray-300;
      display: inline-block;
      padding: 5px 10px;
			border-radius: 5px;
      border: 1px solid $gray-300;
      background-color: $gray-100;
      transition: all .3s;
      &:hover {
        background-color: $gray-300;
				color: $gray-100;
      }
    }
  }
}

.tag-list {
  span {
    a {
      text-decoration: none;
      color: $gray-300;
      &:hover {
        text-decoration: underline;
        opacity: .8;
      }
    }
  }
}
