// Settings
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  line-height: $line-height;
}

body {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $background;
  color: $color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: rgba(111, 111, 111, 0.7);
  }
}

blockquote {
  border-left: 5px solid $blockquote-border;
  font-style: italic;
  padding-left: 1.1rem;
  margin-left: 1.2rem;
  color: $gray-300;
}

.divider::after {
  content: "-";
  display: inline-block;
  position: relative;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 2rem;
}

.page-heading {
  padding-bottom: 3rem;

  .page-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
    color: $page-title-color;
  }
}
